<h1>Articles Listing</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Content</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @articles.each do |articles| %>
        <tr>
            <td><%= articles.title %></td>
            <td><%= articles.author %></td>
            <td><%= articles.content %></td>
            <td><%= articles.description %></td>
            <td><%= link_to "Edit", edit_article_path(articles)%></td>
            <td><%= link_to "Destroy", article_path(articles), method: :delete %>
        </tr>
        <% end %>
    </tbody>
</table>
<br/>
 <%= link_to "New Article" , new_article_path()%>
